div#main {
	margin: 0 8px; /* top-bottom left-right */
	overflow-x: auto;
}

div#main h1, div#main h2, div#main h3 {
	margin: 8px;
	white-space: nowrap;
}

div#main p {
	margin: 12px 0 12px 8px; /* top right bottom left */
	white-space: nowrap;
}

div#main ul {
	padding-left: 26px;
	line-height: 150%;"
}
div#main ul a {
	white-space: nowrap;
}

table {
	border-collapse: collapse;
	line-height: 133%;
	margin: 8px;
	padding: 4px;
	white-space: nowrap;
}

th {
	background: #f0f0f0;
	border: 1px solid gray;
	padding: 4px 8px 3px 8px;
	white-space: nowrap;
	text-align: left;
}

td {
	background: #ffffff;
	border: 1px solid gray;
	padding: 2px 8px 2px 8px;
	word-wrap: break-word;
}
