h1 {
  font-size: 167%;
  background-color: #eee;
  border-left: 6px solid #bbb;
  padding: 4px 0 0 8px;
}

h2 {
  font-size: 124%;
  background-color: #eee;
  border-left: 6px solid #bbb;
  padding: 2px 0 0 8px;
}

h3 {
  font-size: 100%;
  background-color: #eee;
}

h3::before {
  content: "\25FE"; /* ◼️ Black Medium Square */
}

.rst-content h1,
.rst-content h2,
.rst-content h3 {
	margin: 24px 0 8px 0;
}

.rst-content hr,
.rst-content p {
	margin: 16px 0 8px 0;
}

.rst-content code {
  font-family: monospace;
  font-size: 100%;
  color: #333;
  background-color: #eee;
  padding: 0 2px;
}

.rst-content pre code {
  font-size: 100%;
}
