body {
  font-family:
    "Noto Sans",
    "Helvetica Neue",
    Ubuntu,
    "DejaVu Sans",
    sans-serif;
}

h1 {
  font-size: 167%;
  background-color: #eee;
  border-left: 6px solid #bbb;
  padding: 4px 0 0 8px;
}

h2 {
  font-size: 124%;
  background-color: #eee;
  border-left: 6px solid #bbb;
  padding: 2px 0 0 8px;
}

h3 {
  font-size: 100%;
  background-color: #eee;
}

h3::before {
  content: "\25FE"; /* ◼️ Black Medium Square */
}

.rst-content blockquote {
  border-left: 4px solid #bbb;
  padding: 0 0 0 6px;
  margin: 8px 0;
}

.rst-content h1,
.rst-content h2,
.rst-content h3 {
	margin: 16px 0;
}

.rst-content pre,
.rst-content hr,
.rst-content p {
	margin: 16px 4px;
}

.rst-content code {
  font-family: monospace;
  font-size: 100%;
  color: #333;
  background-color: #eee;
  padding: 0 2px;
}

.rst-content pre code {
  font-size: 100%;
  box-shadow: inset 0 0 .5em #ccc;
}

.rst-content p + pre {
  margin-top: -0.75em;
}

